# Data Science(JULIA)

# 4. DataFrames

* 데이터 프레임은 벡터들의 모임으로 이루어진 테이블 형태의 데이터 타입으로 

    - 행렬은 동일한 데이터 타입이 원소로 이루어져야 하는데 반해 데이터 프레임은 각 컬럼별로 데이터 타입이 달라도 된다. (예: 행렬 -> Int64로 통일, 데이터 프레임 -> A열: character, B열은 Float64, C열은 Int64 등 가능)
    
    - R에서는 내장되어 있는 데이터 타입(디폴트 타입)이며, 파이썬에서는 Pandas 패키지에서 지원을 하고 있고, 줄리아에서는 DataFrames.jl에서 지원하고 있다.

* 데이터프레임을 쓰지 않고 줄리아의 기본 문법만 이용할 경우

In [7]:
# Array 생성

function grades_array()
    name = ["Bob", "Sally", "Alice", "Hank"]
    age = [17, 18, 20, 19]
    grade_2020 = [5.0, 1.0, 8.5, 4.0]
    (; name, age, grade_2020)
end

grades_array (generic function with 1 method)

In [8]:
function second_row()
    name, age, grade_2020 = grades_array()
    i = 2
    row = (name[i], age[i], grade_2020[i])
end

second_row()

("Sally", 18, 1.0)

In [9]:
# 만약 앨리스의 학년을 추출하고 싶다면 아래의 함수를 생성
function row_alice()
    names = grades_array().name
    i = findfirst(names .== "Alice")
end
row_alice()

3

In [10]:
function value_alice()
    grades = grades_array().grade_2020
    i = row_alice()
    grades[i]
end
value_alice()

8.5

* 데이터 프레임을 이용하면 array보다 쉽게 데이터 핸들링이 가능함

In [12]:
# DataFrames 패키지 불러오기

using DataFrames

In [15]:
names = ["Sally", "Bob", "Alice", "Hank"]
grades = [1, 5, 8.5, 4]
df = DataFrame(name=names, grade_2020=grades)

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [16]:
df

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [18]:
typeof(df)

DataFrame

In [22]:
# 앞서 정의한 array 생성 함수를 응용하여 데이터 프레임 생성 함수를 작성

function grades_2020()
    name = ["Sally", "Bob", "Alice", "Hank"]
    grade_2020 = [1, 5, 8.5, 4]
    DataFrame(; name, grade_2020)
end
grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [23]:
df1 = grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [24]:
typeof(df1)

DataFrame

In [25]:
df1[1, 1]

"Sally"

In [26]:
df1[1, end]

1.0

In [27]:
df1[end, end]

4.0

In [29]:
df1[1:3, 1:2]

3×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5

In [36]:
df2 = DataFrame(σ = ["a", "a", "a"], δ = [π, π/2, π/3])

3×2 DataFrame
 Row │ σ       δ
     │ String  Float64
─────┼─────────────────
   1 │ a       3.14159
   2 │ a       1.5708
   3 │ a       1.0472

## 4.1 Load and Save Files

### 4.1.1 CSV

* CSV는 Comma-Seperated Values의 약자로 테이블을 담기에 효율적인 파일 형식이다.

* 이름에서도 알 수 있다시피 comma를 이용해 데이터(컬럼)를 분리한다.

In [38]:
using CSV

In [39]:
grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [40]:
# 데이터 프레임을 CSV 파일로 내보내는 함수 작성

function write_grades_csv()
    path = "grades.csv"
    CSV.write(path, grades_2020())
end

write_grades_csv (generic function with 1 method)

In [41]:
path = write_grades_csv()

"grades.csv"

In [46]:
readdir()

8-element Vector{String}:
 ".ipynb_checkpoints"
 "DS_1_Dates.ipynb"
 "DS_2_RandomNumber.ipynb"
 "DS_3_DataFrames.ipynb"
 "JuliaDataScience-main"
 "grades.csv"
 "juliadatascience.pdf"
 "six_number.csv"

* grades.csv 파일이 생성된 것을 확인

In [47]:
read(path, String)

"name,grade_2020\nSally,1.0\nBob,5.0\nAlice,8.5\nHank,4.0\n"

* CSV 데이터 형태는 간단한 텍스트 에디터로도 읽어들일 수 있는 장점이 있다.

* 하지만 데이터 상에 comma가 들어 있다면 문제가 될 수 있지만 CSV.jl은 이 문제를 자동적으로 고려해 처리해주고 있다. 

    - 컴마를 포함한 값들은 ```" ``` quotation 마크를 덧붙임(CSV.jl adds quotation marks " around the comma-containing values.)

In [48]:
function grades_with_commas()
    df = grades_2020()
    df[3, :name] = "Alice,"
    df
end
grades_with_commas()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice,         8.5
   4 │ Hank           4.0

In [50]:
# 데이터 내 ,가 자동을 처리되어 있는 모습을 확인할 수 있음

function write_comma_csv()
    path = "grades-commas.csv"
    CSV.write(path, grades_with_commas())
end
path = write_comma_csv()
read(path, String)

"name,grade_2020\nSally,1.0\nBob,5.0\n\"Alice,\",8.5\nHank,4.0\n"

* **TSV 타입** (**T**ab-**S**eperated **V**alues) 도 CSV.jl 패키지의 CSV 함수를 이용해서 불러들일 수 있다.

In [51]:
function write_comma_tsv()
    path = "grades-comma.tsv"
    CSV.write(path, grades_with_commas(); delim = '\t')
end

read(write_comma_tsv(), String)

"name\tgrade_2020\nSally\t1.0\nBob\t5.0\nAlice,\t8.5\nHank\t4.0\n"

* 컴마 또는 탭 이외에도 다른 구분자(delimiters)를 이용하여 데이터를 구분하여 저장하고 불러들일 수 있다.

In [53]:
function write_space_seperated()
    path = "grades-space-seperated.csv"
    CSV.write(path, grades_2020(); delim = ' ')
end

read(write_space_seperated(), String)

"name grade_2020\nSally 1.0\nBob 5.0\nAlice 8.5\nHank 4.0\n"

* 여전히 관례적으로 semicolon과 csv 확장자를 많이 사용하는 편임

* CSV를 읽을 때, 보통 path와 읽어들일 데이터 타입을 인수로 넣는다.

In [54]:
path = write_grades_csv()

"grades.csv"

In [55]:
CSV.read(path, DataFrame)

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice           8.5
   4 │ Hank            4.0

In [69]:
grades_df = CSV.read(path, DataFrame)

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice           8.5
   4 │ Hank            4.0

In [56]:
readdir()

11-element Vector{String}:
 ".ipynb_checkpoints"
 "DS_1_Dates.ipynb"
 "DS_2_RandomNumber.ipynb"
 "DS_3_DataFrames.ipynb"
 "JuliaDataScience-main"
 "grades-comma.tsv"
 "grades-commas.csv"
 "grades-space-seperated.csv"
 "grades.csv"
 "juliadatascience.pdf"
 "six_number.csv"

In [57]:
six_num = CSV.read("six_number.csv", DataFrame)

1033×9 DataFrame
  Row │ No.    1      2      3      4      5      6      7      Column9
      │ Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64  Int64?
──────┼─────────────────────────────────────────────────────────────────
    1 │     1     10     23     29     33     37     40     16  missing
    2 │     2      9     13     21     25     32     42      2  missing
    3 │     3     11     16     19     21     27     31     30  missing
    4 │     4     14     27     30     31     40     42      2  missing
    5 │     5     16     24     29     40     41     42      3  missing
    6 │     6     14     15     26     27     40     42     34  missing
    7 │     7      2      9     16     25     26     40     42  missing
    8 │     8      8     19     25     34     37     39      9  missing
    9 │     9      2      4     16     17     36     39     14  missing
   10 │    10      9     25     30     33     41     44      6  missing
   11 │    11      1      7     36     37     41     42     14  missing
  ⋮   │   ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮      ⋮       ⋮
 1024 │  1024      9     18     20     22     38     44     10  missing
 1025 │  1025      8      9     20     25     29     33      7  missing
 1026 │  1026      5     12     13     31     32     41     34  missing
 1027 │  1027     14     16     27     35     39     45      5  missing
 1028 │  1028      5      7     12     13     18     35     23  missing
 1029 │  1029     12     30     32     37     39     41     24  missing
 1030 │  1030      2      5     11     17     24     29      9  missing
 1031 │  1031      6      7     22     32     35     36     19  missing
 1032 │  1032      1      6     12     19     36     42     28  missing
 1033 │  1033      3     11     15     20     35     44     10  8711223
                                                       1012 rows omitted

* CSV 패키지에 대해 더 알아보고 싶다면 아래 공식문서를 참조

    > https://csv.juliadata.org/stable/

### 4.1.2 Excel

* **XLSX.jl** 패키지는 가장 활발히 유지보수 되고 있는 엑셀 전용 패키지이며, 순수 줄리아(pure julia)로 작성되어 있기 때문에 어떻게 작동되는지 이해하고 검사하기 쉽다.

In [59]:
using XLSX:
    eachtablerow,
    readxlsx,
    writetable

* 데이터와 컬럼명을 기록하는 사용자 정의 함수 생성

In [63]:
function write_xlsx(name, df::DataFrame)
    path = "$name.xlsx"
    data = collect(eachcol(df))
    cols = names(df)
    writetable(path, data, cols)
end

write_xlsx (generic function with 1 method)

* 이제 쉽게 grades 데이터를 엑셀로 변환 -> 하지만 실제 사용하려고 하면 에러가 발생

In [73]:
function write_grades_xlsx()
    path = "grades"
    write_xlsx(path, grades_2020())
    "$path.xlsx"
end

write_grades_xlsx (generic function with 1 method)

* 사용자 정의 함수는 에러가 발생하므로 다음과 같이 직접 xlsx 파일을 생성

In [87]:
writetable("grades.xlsx", grades_df)

In [88]:
xf = readxlsx("grades.xlsx")

XLSXFile("grades.xlsx") containing 1 Worksheet
            sheetname size          range
-------------------------------------------------
               Sheet1 5x2           A1:B5

In [89]:
sheet = xf["Sheet1"]
eachtablerow(sheet) |> DataFrame

4×2 DataFrame
 Row │ name   grade_2020
     │ Any    Any
─────┼───────────────────
   1 │ Sally  1.0
   2 │ Bob    5.0
   3 │ Alice  8.5
   4 │ Hank   4.0

* 더 확인이 필요한 부분은 XLSX.jl 공식문서 참조

> https://felipenoris.github.io/XLSX.jl/stable/

## 4.2 Index and Summarize

In [94]:
xf = readxlsx("grades.xlsx")
sheet = xf["Sheet1"]
grades_2020_df = (eachtablerow(sheet) |> DataFrame)

4×2 DataFrame
 Row │ name   grade_2020
     │ Any    Any
─────┼───────────────────
   1 │ Sally  1.0
   2 │ Bob    5.0
   3 │ Alice  8.5
   4 │ Hank   4.0

In [95]:
grades_2020_df

4×2 DataFrame
 Row │ name   grade_2020
     │ Any    Any
─────┼───────────────────
   1 │ Sally  1.0
   2 │ Bob    5.0
   3 │ Alice  8.5
   4 │ Hank   4.0

* 컬럼명을 ```.``` 연결하여 컬럼벡터 추출이 가능함

In [96]:
grades_2020_df.name

4-element Vector{Any}:
 "Sally"
 "Bob"
 "Alice"
 "Hank"

* column indexing을 이용한 방법

In [98]:
grades_2020_df[!, :name]

4-element Vector{Any}:
 "Sally"
 "Bob"
 "Alice"
 "Hank"

In [99]:
grades_2020_df[:,:name]

4-element Vector{Any}:
 "Sally"
 "Bob"
 "Alice"
 "Hank"

In [100]:
grades_2020_df[1:2, :name]

2-element Vector{Any}:
 "Sally"
 "Bob"

* collect 함수와 zip 함수를 이용, 두 열을 하나의 tuple로 묶을 수 있음

In [101]:
collect(zip(grades_2020_df.name, grades_2020_df.grade_2020))

4-element Vector{Tuple{Any, Any}}:
 ("Sally", 1.0)
 ("Bob", 5.0)
 ("Alice", 8.5)
 ("Hank", 4.0)

## 4.3 Filter and subset

### 4.3.1 Filter

* 멀티플 디스패치(multiple dispatch)를 통해 줄리아의 기본 함수인 filter를 데이터 프레임에 적용 가능

In [103]:
equals_alice(name::String) = name == "Alice"

equals_alice (generic function with 1 method)

In [104]:
equals_alice("Alice")

true

In [105]:
filter(:name => equals_alice, grades_2020())

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5

In [106]:
filter(equals_alice, ["Alice", "Bob", "Dave"])

1-element Vector{String}:
 "Alice"

In [107]:
filter(n -> n == "Alice", ["Alice", "Bob", "Dave"])

1-element Vector{String}:
 "Alice"

In [108]:
filter(:name => n -> n == "Alice", grades_2020())

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5

In [109]:
filter(:name => ==("Alice"), grades_2020())

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5

In [110]:
filter(:name => !=("Alice"), grades_2020())

3×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Hank           4.0

In [111]:
function complex_filter(name, grade)::Bool
    interesting_name = startswith(name, 'A') || startswith(name, 'B')
    interesting_grade = 6 < grade
    interesting_name && interesting_grade
end

complex_filter (generic function with 1 method)

In [112]:
filter([:name, :grade_2020] => complex_filter, grades_2020())

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5

### 4.3.2 Subset

In [113]:
subset(grades_2020(), :name => ByRow(equals_alice))

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5

In [114]:
subset(grades_2020(), :name => ByRow(==("Alice")))

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5

* missing 데이터 처리에서 subset은 유용하다.

In [116]:
function salaries()
    names = ["John", "Hank", "Karen", "Zed"]
    salary = [1_900, 2_800, 2_800, missing]
    DataFrame(; names, salary)
end

salaries()

4×2 DataFrame
 Row │ names   salary
     │ String  Int64?
─────┼─────────────────
   1 │ John       1900
   2 │ Hank       2800
   3 │ Karen      2800
   4 │ Zed     missing

In [117]:
subset(salaries(), :salary => ByRow(>(2_000)))

LoadError: ArgumentError: missing was returned in condition number 1 but only true or false are allowed; pass skipmissing=true to skip missing values

```skipmissing=true:```를 사용한 subset을 사용하여 에러를 피한다.

In [118]:
subset(salaries(), :salary => ByRow(>(2_000)); skipmissing=true)

2×2 DataFrame
 Row │ names   salary
     │ String  Int64?
─────┼────────────────
   1 │ Hank      2800
   2 │ Karen     2800

## 4.4 Select

In [119]:
function responses()
    id = [1, 2]
    q1 = [28, 61]
    q2 = [:us, :fr]
    q3 = ["F", "B"]
    q4 = ["B", "C"]
    q5 = ["A", "E"]
    DataFrame(; id, q1, q2, q3, q4, q5)
end
responses()

2×6 DataFrame
 Row │ id     q1     q2      q3      q4      q5
     │ Int64  Int64  Symbol  String  String  String
─────┼──────────────────────────────────────────────
   1 │     1     28  us      F       B       A
   2 │     2     61  fr      B       C       E

In [120]:
select(responses(), :id, :q1)

2×2 DataFrame
 Row │ id     q1
     │ Int64  Int64
─────┼──────────────
   1 │     1     28
   2 │     2     61

In [121]:
select(responses(), "id", "q1", "q2")

2×3 DataFrame
 Row │ id     q1     q2
     │ Int64  Int64  Symbol
─────┼──────────────────────
   1 │     1     28  us
   2 │     2     61  fr

In [122]:
select(responses(), Not(:q5))

2×5 DataFrame
 Row │ id     q1     q2      q3      q4
     │ Int64  Int64  Symbol  String  String
─────┼──────────────────────────────────────
   1 │     1     28  us      F       B
   2 │     2     61  fr      B       C

In [123]:
select(responses(), Not([:q4, :q5]))

2×4 DataFrame
 Row │ id     q1     q2      q3
     │ Int64  Int64  Symbol  String
─────┼──────────────────────────────
   1 │     1     28  us      F
   2 │     2     61  fr      B

In [124]:
select(responses(), :q5, Not(:q5))

2×6 DataFrame
 Row │ q5      id     q1     q2      q3      q4
     │ String  Int64  Int64  Symbol  String  String
─────┼──────────────────────────────────────────────
   1 │ A           1     28  us      F       B
   2 │ E           2     61  fr      B       C

In [125]:
select(responses(), :q5, :)

2×6 DataFrame
 Row │ q5      id     q1     q2      q3      q4
     │ String  Int64  Int64  Symbol  String  String
─────┼──────────────────────────────────────────────
   1 │ A           1     28  us      F       B
   2 │ E           2     61  fr      B       C

In [126]:
select(responses(), 1, :q5, :)

2×6 DataFrame
 Row │ id     q5      q1     q2      q3      q4
     │ Int64  String  Int64  Symbol  String  String
─────┼──────────────────────────────────────────────
   1 │     1  A          28  us      F       B
   2 │     2  E          61  fr      B       C

* column selectors.

    - ```Symbol```: **select(df, :col)**
    
    - ```String```: **select(df, "col")**
    
    - ```Integer```: **select(df, 1)**

Even renaming columns is possible via select using the source => target pair syntax:

In [127]:
select(responses(), 1 => "participant", :q1 => "age", :q2 => "nationality")

2×3 DataFrame
 Row │ participant  age    nationality
     │ Int64        Int64  Symbol
─────┼─────────────────────────────────
   1 │           1     28  us
   2 │           2     61  fr

Additionally, thanks to the “splat” operator ...

In [128]:
renames = (1 => "participant", :q1 => "age", :q2 => "nationality")
select(responses(), renames...)

2×3 DataFrame
 Row │ participant  age    nationality
     │ Int64        Int64  Symbol
─────┼─────────────────────────────────
   1 │           1     28  us
   2 │           2     61  fr

## 4.5 Types and Missing Data

In [129]:
function wrong_types()
    id = 1:4
    date = ["28-01-2018", "03-04-2019", "01-08-2018", "22-11-2020"]
    age = ["adolescent", "adult", "infant", "adult"]
    DataFrame(; id, date, age)
end
wrong_types()

4×3 DataFrame
 Row │ id     date        age
     │ Int64  String      String
─────┼───────────────────────────────
   1 │     1  28-01-2018  adolescent
   2 │     2  03-04-2019  adult
   3 │     3  01-08-2018  infant
   4 │     4  22-11-2020  adult

In [130]:
sort(wrong_types(), :date)

4×3 DataFrame
 Row │ id     date        age
     │ Int64  String      String
─────┼───────────────────────────────
   1 │     3  01-08-2018  infant
   2 │     2  03-04-2019  adult
   3 │     4  22-11-2020  adult
   4 │     1  28-01-2018  adolescent

In [139]:
using Dates

function fix_date_column(df::DataFrame)
    strings2dates(dates::Vector) = Date.(dates, dateformat"dd-mm-yyyy")
    dates = strings2dates(df[!, :date])
    df[!, :date] = dates
    df
end

fix_date_column(wrong_types())

4×3 DataFrame
 Row │ id     date        age
     │ Int64  Date        String
─────┼───────────────────────────────
   1 │     1  2018-01-28  adolescent
   2 │     2  2019-04-03  adult
   3 │     3  2018-08-01  infant
   4 │     4  2020-11-22  adult

In [140]:
df = fix_date_column(wrong_types())
sort(df, :date)

4×3 DataFrame
 Row │ id     date        age
     │ Int64  Date        String
─────┼───────────────────────────────
   1 │     1  2018-01-28  adolescent
   2 │     3  2018-08-01  infant
   3 │     2  2019-04-03  adult
   4 │     4  2020-11-22  adult

In [134]:
using CategoricalArrays

In [135]:
function fix_age_column(df)
    levels = ["infant", "adolescent", "adult"]
    ages = categorical(df[!, :age]; levels, ordered=true)
    df[!, :age] = ages
    df
end
fix_age_column(wrong_types())

4×3 DataFrame
 Row │ id     date        age
     │ Int64  String      Cat…
─────┼───────────────────────────────
   1 │     1  28-01-2018  adolescent
   2 │     2  03-04-2019  adult
   3 │     3  01-08-2018  infant
   4 │     4  22-11-2020  adult

In [136]:
df = fix_age_column(wrong_types())
sort(df, :age)

4×3 DataFrame
 Row │ id     date        age
     │ Int64  String      Cat…
─────┼───────────────────────────────
   1 │     3  01-08-2018  infant
   2 │     1  28-01-2018  adolescent
   3 │     2  03-04-2019  adult
   4 │     4  22-11-2020  adult

In [141]:
function correct_types()
    df = wrong_types()
    df = fix_date_column(df)
    df = fix_age_column(df)
end
correct_types()

4×3 DataFrame
 Row │ id     date        age
     │ Int64  Date        Cat…
─────┼───────────────────────────────
   1 │     1  2018-01-28  adolescent
   2 │     2  2019-04-03  adult
   3 │     3  2018-08-01  infant
   4 │     4  2020-11-22  adult

In [142]:
df = correct_types()
a = df[1, :age]
b = df[2, :age]
a < b

true

In [143]:
"infant" < "adult"

false

## 4.6 Join

In [146]:
gr_20_df = grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [148]:
names = ["Bob 2", "Sally", "Hank"]
grades = [9.5, 9.5, 6.0]
gr_21_df = DataFrame(name = names, grade_2021 = grades)

3×2 DataFrame
 Row │ name    grade_2021
     │ String  Float64
─────┼────────────────────
   1 │ Bob 2          9.5
   2 │ Sally          9.5
   3 │ Hank           6.0

### 4.6.1 innerjoin

In [149]:
innerjoin(gr_20_df, gr_21_df; on = :name)

2×3 DataFrame
 Row │ name    grade_2020  grade_2021
     │ String  Float64     Float64
─────┼────────────────────────────────
   1 │ Sally          1.0         9.5
   2 │ Hank           4.0         6.0

### 4.6.2 outerjoin

In [150]:
outerjoin(gr_20_df, gr_21_df, on = :name)

5×3 DataFrame
 Row │ name    grade_2020  grade_2021
     │ String  Float64?    Float64?
─────┼────────────────────────────────
   1 │ Sally          1.0         9.5
   2 │ Hank           4.0         6.0
   3 │ Bob            5.0   missing
   4 │ Alice          8.5   missing
   5 │ Bob 2    missing           9.5

### 4.6.3 crossjoin

We can get even more missing data if we use the crossjoin. This gives the Cartesian product of the rows, which is basically multiplication of rows, that is, for every row create a combination with any other row:

In [151]:
crossjoin(gr_20_df, gr_21_df; on = :id)

LoadError: MethodError: no method matching crossjoin(::DataFrame, ::DataFrame; on=:id)
Closest candidates are:
  crossjoin(::AbstractDataFrame, ::AbstractDataFrame; makeunique) at C:\Users\jeffr\.julia\packages\DataFrames\JZ7x5\src\join\composer.jl:1321 got unsupported keyword argument "on"
  crossjoin(::AbstractDataFrame, ::AbstractDataFrame, ::AbstractDataFrame...; makeunique) at C:\Users\jeffr\.julia\packages\DataFrames\JZ7x5\src\join\composer.jl:1332 got unsupported keyword argument "on"

In [152]:
crossjoin(gr_20_df, gr_21_df;)

LoadError: ArgumentError: Duplicate variable names: :name. Pass makeunique=true to make them unique using a suffix automatically.

Oops again. This is a very common error with DataFrames and joins. The tables for the 2020 and 2021 grades have a duplicate column name, namely :name. Like before, the error that DataFrames.jl outputs shows a simple suggestion that might fix the issue. We can just pass makeunique=true to solve this:

In [153]:
crossjoin(gr_20_df, gr_21_df; makeunique = true)

12×4 DataFrame
 Row │ name    grade_2020  name_1  grade_2021
     │ String  Float64     String  Float64
─────┼────────────────────────────────────────
   1 │ Sally          1.0  Bob 2          9.5
   2 │ Sally          1.0  Sally          9.5
   3 │ Sally          1.0  Hank           6.0
   4 │ Bob            5.0  Bob 2          9.5
   5 │ Bob            5.0  Sally          9.5
   6 │ Bob            5.0  Hank           6.0
   7 │ Alice          8.5  Bob 2          9.5
   8 │ Alice          8.5  Sally          9.5
   9 │ Alice          8.5  Hank           6.0
  10 │ Hank           4.0  Bob 2          9.5
  11 │ Hank           4.0  Sally          9.5
  12 │ Hank           4.0  Hank           6.0

### 4.6.4 leftjoin and rightjoin

In [154]:
leftjoin(gr_20_df, gr_21_df; on = :name)

4×3 DataFrame
 Row │ name    grade_2020  grade_2021
     │ String  Float64     Float64?
─────┼────────────────────────────────
   1 │ Sally          1.0         9.5
   2 │ Hank           4.0         6.0
   3 │ Bob            5.0   missing
   4 │ Alice          8.5   missing

In [155]:
rightjoin(gr_20_df, gr_21_df; on =:name)

3×3 DataFrame
 Row │ name    grade_2020  grade_2021
     │ String  Float64?    Float64
─────┼────────────────────────────────
   1 │ Sally          1.0         9.5
   2 │ Hank           4.0         6.0
   3 │ Bob 2    missing           9.5

In [158]:
leftjoin(gr_21_df, gr_20_df; on=:name)

3×3 DataFrame
 Row │ name    grade_2021  grade_2020
     │ String  Float64     Float64?
─────┼────────────────────────────────
   1 │ Sally          9.5         1.0
   2 │ Hank           6.0         4.0
   3 │ Bob 2          9.5   missing

### 4.6.5 semijoin and antijoin

In [159]:
semijoin(gr_20_df, gr_21_df; on =:name)

2×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Hank           4.0

The opposite of the semi join is the anti join. It returns only the elements from the left DataFrame which are not in the right DataFrame:

In [160]:
antijoin(gr_20_df, gr_21_df; on =:name)

2×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Bob            5.0
   2 │ Alice          8.5

## 4.7 Variable Transformations

In [161]:
function grades_2020()
    name = ["Sally", "Bob", "Alice", "Hank"]
    grade_2020 = [1, 5, 8.5, 4]
    DataFrame(; name, grade_2020)
end
grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [162]:
plus_one(grades) = grades .+ 1
transform(grades_2020(), :grade_2020 => plus_one)

4×3 DataFrame
 Row │ name    grade_2020  grade_2020_plus_one
     │ String  Float64     Float64
─────┼─────────────────────────────────────────
   1 │ Sally          1.0                  2.0
   2 │ Bob            5.0                  6.0
   3 │ Alice          8.5                  9.5
   4 │ Hank           4.0                  5.0

In [163]:
transform(grades_2020(), :grade_2020 => plus_one => :grade_2020)

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          2.0
   2 │ Bob            6.0
   3 │ Alice          9.5
   4 │ Hank           5.0

In [164]:
transform(grades_2020(), :grade_2020 => plus_one; renamecols=false)

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          2.0
   2 │ Bob            6.0
   3 │ Alice          9.5
   4 │ Hank           5.0

In [165]:
select(grades_2020(), :, :grade_2020 => plus_one => :grade_2020)

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          2.0
   2 │ Bob            6.0
   3 │ Alice          9.5
   4 │ Hank           5.0

In [166]:
df = grades_2020()
df.grade_2020 = plus_one.(df.grade_2020)
df

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          2.0
   2 │ Bob            6.0
   3 │ Alice          9.5
   4 │ Hank           5.0

### 4.7.1 Multiple Transformations

In [169]:
leftjoined = leftjoin(gr_20_df, gr_21_df; on=:name)

4×3 DataFrame
 Row │ name    grade_2020  grade_2021
     │ String  Float64     Float64?
─────┼────────────────────────────────
   1 │ Sally          1.0         9.5
   2 │ Hank           4.0         6.0
   3 │ Bob            5.0   missing
   4 │ Alice          8.5   missing

In [171]:
pass(A, B) = [5.5 < a || 5.5 < b for (a, b) in zip(A, B)]
transform(leftjoined, [:grade_2020, :grade_2021] => pass; renamecols=false)

4×4 DataFrame
 Row │ name    grade_2020  grade_2021  grade_2020_grade_2021
     │ String  Float64     Float64?    Union{Missing, Bool}
─────┼───────────────────────────────────────────────────────
   1 │ Sally          1.0         9.5                   true
   2 │ Hank           4.0         6.0                   true
   3 │ Bob            5.0   missing                  missing
   4 │ Alice          8.5   missing                     true

In [173]:
function only_pass()
    leftjoined = leftjoin(grades_2020(), gr_21_df; on=:name)
    pass(A, B) = [5.5 < a || 5.5 < b for (a, b) in zip(A, B)]
    leftjoined = transform(leftjoined, [:grade_2020, :grade_2021] => pass => :pass)
    passed = subset(leftjoined, :pass; skipmissing=true)
    return passed.name
end
only_pass()

3-element Vector{String}:
 "Sally"
 "Hank"
 "Alice"

## 4.8 Groupby and Combine

In the R programming language, Wickham (2011) has popularized the so-called split-apply-combine strategy for data transformations. In essence, this strategy splits a dataset into distinct groups, applies one or more functions to each group, and then combines the result. DataFrames.jl fully supports split-apply-combine. We will use the student grades example like before. Suppose that we want to know each student’s mean grade:

In [176]:
function all_grades()
    df1 = grades_2020()
    df1 = select(df1, :name, :grade_2020 => :grade)
    df2 = gr_21_df
    df2 = select(df2, :name, :grade_2021 => :grade)
    rename_bob2(data_col) = replace.(data_col, "Bob 2" => "Bob")
    df2 = transform(df2, :name => rename_bob2 => :name)
    return vcat(df1, df2)
end
all_grades()

7×2 DataFrame
 Row │ name    grade
     │ String  Float64
─────┼─────────────────
   1 │ Sally       1.0
   2 │ Bob         5.0
   3 │ Alice       8.5
   4 │ Hank        4.0
   5 │ Bob         9.5
   6 │ Sally       9.5
   7 │ Hank        6.0

The strategy is to split the dataset into distinct students, apply the mean function to each student, and combine the result.

**The split is called groupby** and we give as second argument the column ID that we want to split the dataset into:

In [177]:
groupby(all_grades(), :name)

GroupedDataFrame with 4 groups based on key: name
First Group (2 rows): name = "Sally"
 Row │ name    grade
     │ String  Float64
─────┼─────────────────
   1 │ Sally       1.0
   2 │ Sally       9.5
⋮
Last Group (2 rows): name = "Hank"
 Row │ name    grade
     │ String  Float64
─────┼─────────────────
   1 │ Hank        4.0
   2 │ Hank        6.0

We apply the mean function from Julia’s standard library Statistics module:

In [178]:
using Statistics

To apply this function, use the combine function:

In [179]:
gdf = groupby(all_grades(), :name)
combine(gdf, :grade => mean)

4×2 DataFrame
 Row │ name    grade_mean
     │ String  Float64
─────┼────────────────────
   1 │ Sally         5.25
   2 │ Bob           7.25
   3 │ Alice         8.5
   4 │ Hank          5.0

Imagine having to do this without the groupby and combine functions. We would need to loop over our data to split it up into groups, then loop over each split to apply a function, and finally loop over each group to gather the final result. Therefore, the split-apply-combine technique is a great one to know.

### 4.8.1 Multiple Source Columns

But what if we want to apply a function to multiple columns of our dataset?

In [180]:
group = [:A, :A, :B, :B]
X = 1:4
Y = 5:8
df = DataFrame(; group, X, Y)

4×3 DataFrame
 Row │ group   X      Y
     │ Symbol  Int64  Int64
─────┼──────────────────────
   1 │ A           1      5
   2 │ A           2      6
   3 │ B           3      7
   4 │ B           4      8

This is accomplished in a similar manner:

In [181]:
gdf = groupby(df, :group)
combine(gdf, [:X, :Y] .=> mean; renamecols=false)

2×3 DataFrame
 Row │ group   X        Y
     │ Symbol  Float64  Float64
─────┼──────────────────────────
   1 │ A           1.5      5.5
   2 │ B           3.5      7.5

Note that we’ve used the dot . operator before the right arrow => to indicate that the mean has to be applied to multiple source columns [:X, :Y].

To use composable functions, a simple way is to create a function that does the intended composable transformations. For instance, for a series of values, let’s first take the mean followed by round to a whole number (also known as an integer Int):

In [182]:
gdf = groupby(df, :group)
rounded_mean(data_col) = round(Int, mean(data_col))
combine(gdf, [:X, :Y] .=> rounded_mean; renamecols=false)

2×3 DataFrame
 Row │ group   X      Y
     │ Symbol  Int64  Int64
─────┼──────────────────────
   1 │ A           2      6
   2 │ B           4      8

## 4.9 Performance

So far, we haven’t thought about making our DataFrames.jl code fast. Like everything in Julia, DataFrames.jl can be really fast. In this section, we will give some performance tips and tricks.

### 4.9.1 In-place operations (exclamation mark)

Like we explained in Section 3.3.2, functions that end with a bang ! are a common pattern to denote functions that modify one or more of their arguments. In the context of high performance Julia code, this means that functions with ! will just change in-place the objects that we have supplied as arguments.

Almost all the DataFrames.jl functions that we’ve seen have a "! twin". For example, filter has an in-place filter!, select has select!, subset has subset!, and so on. Notice that these functions do not return a new DataFrame, but instead they update the DataFrame that they act upon. Additionally, DataFrames.jl (version 1.3 onwards) supports in-place leftjoin with the function leftjoin!. This function updates the left DataFrame with the joined columns from the right DataFrame. There is a caveat that for each row of left table there must match at most one row in right table.

**If you want the highest speed and performance in your code, you should definitely use the ```!``` functions instead of regular ```DataFrames.jl``` functions.**

Let’s go back to the example of the select function in the beginning of Section 4.4. Here is the responses DataFrame:

In [184]:
responses()

2×6 DataFrame
 Row │ id     q1     q2      q3      q4      q5
     │ Int64  Int64  Symbol  String  String  String
─────┼──────────────────────────────────────────────
   1 │     1     28  us      F       B       A
   2 │     2     61  fr      B       C       E

In [185]:
select(responses(), :id, :q1)

2×2 DataFrame
 Row │ id     q1
     │ Int64  Int64
─────┼──────────────
   1 │     1     28
   2 │     2     61

In [186]:
select!(responses(), :id, :q1)

2×2 DataFrame
 Row │ id     q1
     │ Int64  Int64
─────┼──────────────
   1 │     1     28
   2 │     2     61

The @allocated macro tells us how much memory was allocated. In other words, how much new information the computer had to store in its memory while running the code. Let’s see how they will perform:

In [187]:
df = responses()
@allocated select(df, :id, :q1)

7296

In [188]:
df = responses()
@allocated select!(df, :id, :q1)

7088

As we can see, select! allocates less than select. So, it should be faster, while consuming less memory.

### 4.9.2 Copying vs Not Copying Columns

There are two ways to access a DataFrame column. They differ in how they are accessed: one creates a “view” to the column without copying and the other creates a whole new column by copying the original column.

The first way uses the regular dot . operator followed by the column name, like in df.col. This kind of access does not copy the column col. Instead df.col creates a “view” which is a link to the original column without performing any allocation. Additionally, the syntax df.col is the same as df[!, :col] with the bang ! as the row selector.

The second way to access a DataFrame column is the df[:, :col] with the colon : as the row selector. This kind of access does copy the column col, so beware that it may produce unwanted allocations.

As before, let’s try out these two ways to access a column in the responses DataFrame:

In [189]:
df = responses()
@allocated col = df[:, :id]

80

In [190]:
df = responses()
@allocated col = df[!, :id]

0

When we access a column without copying it we are making zero allocations and our code should be faster. So, if you don’t need a copy, always access your DataFrames columns with **```df.col```** or **```df[!, :col]```** instead of **```df[:, :col]```** .

### 4.9.2 CSV.read versus CSV.File

If you take a look at the help output for CSV.read, you will see that there is a convenience function identical to the function called CSV.File with the same keyword arguments. Both CSV.read and CSV.File will read the contents of a CSV file, but they differ in the default behavior. CSV.read, by default, will not make copies of the incoming data. Instead, CSV.read will pass all the data to the second argument (known as the “sink”).

So, something like this:

In [194]:
df = CSV.read("grades-commas.csv", DataFrame)

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice,          8.5
   4 │ Hank            4.0

will pass all the incoming data from file.csv to the DataFrame sink, thus returning a DataFrame type that we store in the df variable.

For the case of CSV.File, the default behavior is the opposite: it will make copies of every column contained in the CSV file. Also, the syntax is slightly different. We need to wrap anything that CSV.File returns in a DataFrame constructor function:

In [196]:
df = DataFrame(CSV.File("grades-commas.csv"))

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice,          8.5
   4 │ Hank            4.0

Or, with the pipe |> operator:

In [197]:
df = CSV.File("grades-commas.csv") |> DataFrame

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice,          8.5
   4 │ Hank            4.0

Like we said, CSV.File will make copies of each column in the underlying CSV file. Ultimately, if you want the most performance, you would definitely use CSV.read instead of CSV.File. That’s why we only covered CSV.read in Section 4.1.1.

### 4.9.4 CSV.jl Multiple Files

Now let’s turn our attention to the CSV.jl. Specifically, the case when we have multiple CSV files to read into a single DataFrame. Since version 0.9 of CSV.jl we can provide a vector of strings representing filenames. Before, we needed to perform some sort of multiple file reading and then concatenate vertically the results into a single DataFrame. To exemplify, the code below reads from multiple CSV files and then concatenates them vertically using vcat into a single DataFrame with the reduce function:

```julia
files = filter(endswith(".csv"), readdir())
df = reduce(vcat, CSV.read(file, DataFrame) for file in files)
```

One additional trait is that reduce will not parallelize because it needs to keep the order of vcat which follows the same ordering of the files vector.

With this functionality in CSV.jl we simply pass the files vector into the CSV.read function:

```julia
files = filter(endswith(".csv"), readdir())
df = CSV.read(files, DataFrame)
```

CSV.jl will designate a file for each thread available in the computer while it lazily concatenates each thread-parsed output into a DataFrame. So we have the **additional benefit of multithreading** that we don’t have with the reduce option.

### 4.9.5 CategoricalArrays.jl compression

If you are handling data with a lot of categorical values, i.e. a lot of columns with textual data that represent somehow different qualitative data, you would probably benefit by using CategoricalArrays.jl compression.

By default, CategoricalArrays.jl will use an unsigned integer of size 32 bits UInt32 to represent the underlying categories:

In [200]:
using CategoricalArrays

typeof(categorical(["A", "B", "C"]))

CategoricalVector{String, UInt32, String, CategoricalValue{String, UInt32}, Union{}} (alias for CategoricalArray{String, 1, UInt32, String, CategoricalValue{String, UInt32}, Union{}})

This means that CategoricalArrays.jl can represent up to  different categories in a given vector or column, which is a huge value (close to 4.3 billion). You probably would never need to have this sort of capacity in dealing with regular data17. That’s why categorical has a compress argument that accepts either true or false to determine whether or not the underlying categorical data is compressed. If you pass compress=true, CategoricalArrays.jl will try to compress the underlying categorical data to the smallest possible representation in UInt. For example, the previous categorical vector would be represented as an unsigned integer of size 8 bits UInt8 (mostly because this is the smallest unsigned integer available in Julia):

 also notice that regular data (up to 10 000 rows) is not big data (more than 100 000 rows). So, if you are dealing primarily with big data please exercise caution in capping your categorical values.

In [201]:
typeof(categorical(["A", "B", "C"]; compress=true))

CategoricalVector{String, UInt8, String, CategoricalValue{String, UInt8}, Union{}} (alias for CategoricalArray{String, 1, UInt8, String, CategoricalValue{String, UInt8}, Union{}})

What does this all mean? Suppose you have a big vector. For example, a vector with one million entries, but only 4 underlying categories: A, B, C, or D. If you do not compress the resulting categorical vector, you will have one million entries stored as UInt32. On the other hand, if you do compress it, you will have one million entries stored instead as UInt8. By using Base.summarysize function we can get the underlying size, in bytes, of a given object. So let’s quantify how much more memory we would need to have if we did not compress our one million categorical vector:

In [202]:
using Random

In [203]:
one_mi_vec = rand(["A", "B", "C", "D"], 1_000_000)
Base.summarysize(categorical(one_mi_vec))

4000612

In [204]:
Base.summarysize(one_mi_vec)

8000076

4 million bytes, which is approximately 3.8 MB. Don’t get us wrong, this is a good improvement over the raw string size:

We reduced 50% of the raw data size by using the default CategoricalArrays.jl underlying representation as UInt32.

Now let’s see how we would fare with compression:

In [205]:
Base.summarysize(categorical(one_mi_vec; compress=true))

1000564

We reduced the size to 25% (one quarter) of the original uncompressed vector size without losing information. Our compressed categorical vector now has 1 million bytes which is approximately 1.0 MB.

So whenever possible, in the interest of performance, consider using compress=true in your categorical data.